In [1]:
import openpyxl
import csv
import pandas as pd

from customerSeg.config import data_dir
print('Data directory configured as ' + str(data_dir))

Data directory configured as /Users/jared/DevProjects/customer-segmenter/data

In [2]:
xlsx_dir = data_dir / 'raw' 
csv_dir = data_dir / 'interim'

print(all(_dir.exists() for _dir in [xlsx_dir, csv_dir, data_dir]))

True

In [3]:
# Set input, output filename
filename = xlsx_dir / 'Online_Retail_1.xlsx'

## Timing runs

### Using openpyxl

In [4]:
outpath_opxl = csv_dir / 'openpyxl_test.csv'

Loading:

In [5]:
%%timeit
xlsx = openpyxl.load_workbook(filename)

59.3 s ± 2.23 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

Writing:

In [9]:
xlsx = openpyxl.load_workbook(filename)

In [10]:
%%timeit
sheet = xlsx.active
with open(outpath_opxl, 'w', newline="") as dest:
    c = csv.writer(dest)
    for r in sheet.iter_rows():
        c.writerow([cell.value for cell in r])

11.5 s ± 981 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Using pandas

In [13]:
outpath_pd = csv_dir / 'pandas_test.csv'

Loading

In [14]:
%%timeit
df = pd.read_excel(filename, engine='openpyxl')

1min 11s ± 3.07 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

Writing

In [15]:
df = pd.read_excel(filename, engine='openpyxl')

In [16]:
%%timeit
df.to_csv(outpath_pd, index=False)

4.69 s ± 83.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
import os

os.system('say "timing test complete"')

0

### Checking resultant csv files

In [21]:
# Exported from openpyxl directly
opdf = pd.read_csv(outpath_opxl)
opdf.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [22]:
# Exported from pandas
pddf = pd.read_csv(outpath_pd)
pddf.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [23]:
opdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [24]:
pddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB